@import "../../../styles/settings.scss";

.container {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;

  .contentAbout {
    display: flex;
    order: -1;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 120px;

    .text {
      pointer-events: none;
      width: 100%;

      .below {
        display: inline-block;
        pointer-events: stroke;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
          transform: scale(105%);
        }
      }
    }
    a,
    span {
      display: inline-block;
      color: $redLight;
      font-weight: 700;
      pointer-events: stroke;
      cursor: pointer;
      text-decoration: none;
      transition: 0.1s;

      &:hover {
        color: #fd6d6d;
        transform: scale(104%);
      }
    }

    h2 {
      text-align: center;
      width: fit-content;
      margin: 0 auto 30px;
      font-size: 45px;
    }

    p {
      font-size: 18px;
    }

    .image {
      width: 60%;

      img {
        width: 100%;
      }
    }
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
    h2 {
      font-size: 45px;
      text-align: center;
    }
    .client {
      position: relative;
      width: 48%;
      display: flex;
      text-decoration: none;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgb(52, 52, 52) 100%
      );
      border-radius: 50px;
      z-index: 1;
      transition: 0.2s;

      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          0deg,
          rgb(68, 68, 68) 0%,
          rgb(52, 52, 52) 100%
        );
        z-index: -1;
        transition: opacity 0.2s linear;
        opacity: 0;
        border-radius: 50px;
      }
      &:hover::before {
        opacity: 1;
      }

      &:hover {
        transform: scale(105%);
        z-index: 2;
        -webkit-box-shadow: 0px 8px 24px -14px rgba(183, 183, 183, 1);
        -moz-box-shadow: 0px 8px 24px -14px rgba(183, 183, 183, 1);
        box-shadow: 0px 8px 24px -14px rgba(183, 183, 183, 1);
        color: white;

        @media (max-width: 768px) {
          transform: scale(100%);
        }
      }

      .clientImage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        min-height: 200px;

        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(26, 26, 26, 1) 100%
        );
        padding: 25px;
        border-radius: 50px;
        border-right: 1px solid rgb(46, 46, 46);

        .img {
          position: relative;
          img {
            width: 100%;
            margin: 0 auto;
          }

          &::after {
            content: "";
            position: absolute;
            width: 70%;
            height: 12px;
            left: 50%;
            bottom: -20px;
            border-radius: 50%;
            box-shadow: 0px 0px 12px 5px rgb(255, 255, 255, 0.3);
            transform: translateX(-50%);
            background-color: rgba(255, 255, 255, 0.3);
            z-index: 0;
          }
        }
      }

      .clientContent {
        position: relative;
        width: 70%;
        padding: 10px;
        padding-left: 25px;
        overflow: hidden;
        z-index: 0;

        .clientText {
          h4 {
            text-align: center;
            padding: 10px;
            font-size: 30px;
          }
        }
        .clientExamples {
          position: absolute;
          text-align: center;
          right: 0;
          bottom: 0;
          z-index: 2;

          a {
            position: relative;
            display: block;
            text-decoration: none;
            color: white;
            padding: 10px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 50px;
            width: 60px;
            height: 60px;
            z-index: 2;
            transition: 2s;
            background: linear-gradient(
              313deg,
              rgba(24, 6, 6, 1) 0%,
              rgba(129, 7, 8, 1) 100%
            );

            i {
              position: absolute;
              font-size: 20px;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .exampleVideo {
            position: absolute;
            width: 150px;
            left: -150px;
            bottom: 10px;
            transition: 0.2s;
            opacity: 0;

            i {
              margin-left: 10px;
            }
          }
        }
      }
      &:hover .clientExamples .exampleVideo {
        opacity: 1;
      }
    }
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 100px;
    padding: 15px;

    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 45px;
      margin-bottom: 30px;
      width: 100%;

      span {
        color: $redDarker;
      }
    }

    .singleImg {
      width: 30%;
      text-align: center;
      margin-bottom: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 15px;
      border-radius: 15px;
    }

    img {
      height: 120px;
      width: 100%;
    }
  }
  .work {
    display: none;
  }
}

@media (max-width: 991px) {
  .container {
    .clients {
      gap: 50px;

      .client {
        flex-direction: column;
        height: fit-content;
        background: linear-gradient(
          0deg,
          rgb(52, 52, 52) 0%,
          rgba(0, 0, 0, 1) 100%
        );
        width: 80%;
        .clientImage {
          width: 100%;
          min-height: 200px;
          border: none;
          img {
            width: 100%;
          }

          &::after {
            bottom: 50px;
          }
        }

        .clientContent {
          width: 100%;
          text-align: center;
          padding-bottom: 50px;
        }

        .clientImage {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(26, 26, 26, 1) 100%
          );
          padding: 25px;
          border-radius: 50px;
          border-right: 1px solid rgb(46, 46, 46);

          .img {
            position: relative;
            text-align: center;
            width: 100%;
            img {
              width: 50%;
              margin: 0 auto;
            }

            &::after {
              content: "";
              position: absolute;
              width: 70%;
              height: 12px;
              left: 50%;
              bottom: -20px;
              border-radius: 50%;
              box-shadow: 0px 0px 12px 5px rgb(255, 255, 255, 0.3);
              transform: translateX(-50%);
              background-color: rgba(255, 255, 255, 0.3);
              z-index: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    margin-top: 0;
    .clients {
      .client {
        width: 100%;
      }
    }
    .contentAbout {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 25px;
      .text {
        width: 100%;
      }
    }
    .cloudContainer {
      display: none;
    }
    .work {
      display: block;

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 45px;
        margin-bottom: 30px;
        span {
          color: $secondColor;
        }
      }
    }
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
