body {
  font-family: "Mulish", sans-serif;
  background-color: $bgc;
  color: $colorText;
  scroll-behavior: smooth;

  h2 {
    position: relative;
    margin: 0 auto 30px;
    width: 100%;
  }

  a,
  .link {
    color: white;
    cursor: pointer;
  }
}
