// $mainColor: #000000;
// $secondColor: #3d0000;
// $ligtherSecondColor: #950101;
// $lightSecondColor: #ff0000;
// $colorText: #EDEDED;

$mainColor: #111111;
$secondColor: #CC0001;
$thirdColor: #EE0000;
$colorText: #EEEEEE;
$bgc: #111111;
$redLight: #EE0000;
$redDarker: #810708;
