// $mainColor: #000000;
// $secondColor: #3d0000;
// $ligtherSecondColor: #950101;
// $lightSecondColor: #ff0000;
// $colorText: #EDEDED;

$mainColor: #111111;
$secondColor: #CC0001;
$thirdColor: #EE0000;
$colorText: #EEEEEE;
$bgc: #111111;
$redLight: #EE0000;
$redDarker: #810708;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1700px,
);