.playlistsContainer {
  display: flex;
  gap: 5px;

  div {
    width: 50%;

    span {
      display: block;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
    }

    .singlePlaylist {
      width: 100%;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.53);
      margin-bottom: 5px;

      .showLink {
        width: fit-content;
        cursor: pointer;

        &:hover {
          color: #CC0001;
        }
      }
    }
  }
}

.photosContainer {
  display: flex;
  width: fit-content;
  height: 100px;
  background-color: rgba(255,255,255,0.3);
  padding: 5px;
}

.adminButtons {
  display: flex;
  justify-content: center;
  gap: 5px;

  button {
    padding: 5px;
  }
}

.adminPanel {
  min-height: 100vh;
}

a {
  font-weight: bold;
  text-transform: uppercase;
}