@import "../../../styles/settings.scss";

.socials {
  text-align: center;
  height: 199px;
  transform: translateY(-150px);

  h2 {
    font-size: 45px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: white;
    i {
      padding: 20px;
      font-size: 50px;
      margin-right: 30px;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      background-color: $redDarker;

      &:hover {
        transform: scale(110%);
        background-color: $redLight;
      }
    }
    &:last-child {
      i {
        margin: 0;
      }
    }
  }

  @media (max-width: 768px) {
    transform: translateY(-50px);
  }

  @media (min-width: 2560px) {
    height: 206px;
  }
}
.contactContainer {
  margin-top: 200px;
  min-height: 100%;
  h2 {
    font-size: 45px;
  }

  form {
    text-align: center;
    fieldset {
      position: relative;

      input,
      textarea {
        position: relative;
        border-radius: 20px;
        margin-bottom: 50px;
        background-color: inherit;
        border: 2px solid #363636;
        padding: 10px;
        transition: 0.3s;
        outline: 0;
        color: $colorText;

        &:hover {
          border: 2px solid $redDarker;
        }

        &:focus {
          box-shadow: none;
          background-color: transparent;
          border: 2px solid $redLight;
          color: $colorText;
        }

        &:focus ~ label,
        &:not(:placeholder-shown):not(:focus) ~ label {
          top: -17px;
          font-size: 15px;
          padding: 5px 5px 0px 5px;
          background-color: #111111;
        }
      }

      label {
        position: absolute;
        top: 7px;
        left: 20px;
        color: $colorText;
        font-size: 18px;
        transition: 0.3s;
      }

      .error {
        position: absolute;
        left: 25px;
        bottom: 25px;
        color: red;
      }
    }

    .sendButton {
      position: relative;
      background-color: $redDarker;
      padding: 5px 25px;
      border: none;
      color: $colorText;
      border-radius: 15px;
      font-weight: 600;
      transition: 0.3s;
      font-size: 18px;
      text-transform: uppercase;

      &:hover {
        background-color: $redLight;
        transform: scale(105%);
      }
    }

    .success {
      color: green;
      padding: 15px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .sideInfo {
    ul {
      position: relative;
      background: linear-gradient(
        0deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      margin: 0 auto;
      padding-bottom: 200px;
      padding-top: 400px;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      animation: shoveInImage 1s forwards;
      animation-delay: 0.5s;
      transform: translateY(-1100px);
      width: fit-content;

      li {
        padding: 0 30px;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 100px;
      ul {
        padding: 25px;
        transform: translateY(0);
        animation: none;
        border-radius: 100px;
      }
    }
  }
}

@keyframes shoveInImage {
  0% {
    transform: translateY(-1100px);
  }
  100% {
    transform: translateY(-400px);
  }
}
