@import "../../../styles/settings.scss";

* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  // margin-top: 50px;
  margin-bottom: 700px;

  .showReel {
    position: relative;
    width: 100%;
    text-align: center;
    transform: scale(0.5);
    opacity: 0;
    -webkit-animation: scale-up-center 0.4s ease-out 0.5s forwards;
    animation: scale-up-center 0.4s ease-out 0.5s forwards;

    h2 {
      font-size: 50px;
      // margin-bottom: 50px;
      text-align: center;
      height: 75px;

      span {
        text-transform: uppercase;
        color: $redLight;
      }
    }

    .iframeContainer {
      height: 100%;
      overflow: visible;
      aspect-ratio: 2.356 / 1;
      background: white;
      position: relative;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(140%);
        background-color: transparent;
      }
    }
  }

  .box {
    width: fit-content;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 150px;

    @media (max-width: 1920px) {
      margin-bottom: 50px;
    }

    .title {
      width: 100%;
      position: relative;
      height: 180px;

      .block {
        position: absolute;
        width: 0%;
        height: inherit;
        z-index: 1;
        background-color: $redLight;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      }

      h1 {
        position: relative;
        font-family: "poppins";
        color: #fff;
        font-size: clamp(150px, 10vw, 100px);
        line-height: 1;
        display: inline-block;
        color: #fff;
        z-index: 2;
        letter-spacing: 10px;
        animation: mainFadeIn 2s forwards;
        text-transform: uppercase;
        animation-delay: 1.2s;
        z-index: -1;
        opacity: 0;
        margin: 0;

        &::after,
        ::before {
          content: attr(data-text);
          position: absolute;
          width: 110%;
          z-index: -1;
        }

        &::before {
          top: 10px;
          left: 15px;
          color: #e0287d;
          animation: paths 5s step-end infinite, opacity 5s step-end infinite,
            font 8s step-end infinite, movement 10s step-end infinite;
        }

        &::after {
          top: 2.5px;
          left: -5px;
          color: $redLight;
          animation: paths 5s step-end infinite, opacity 5s step-end infinite,
            font 7s step-end infinite, movement 8s step-end infinite;
        }

        span {
          animation: paths 5s step-end infinite;
        }
      }
    }
    .role {
      position: relative;
      height: 50px;
      text-align: left;

      .block {
        position: absolute;
        width: 0%;
        height: inherit;
        background-color: #fff;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        // animation-delay: 2s;
      }

      .content {
        display: flex;
        justify-content: center;
        animation: secFadeIn 2s forwards;
        animation-delay: 1.2s;
        opacity: 0;
        font-size: 30px;

        i {
          display: flex;
          align-items: flex-end;
          color: $redLight;
          transform: rotate(-45deg);
          font-size: 150px;
        }

        p {
          font-family: "Mulish";
          letter-spacing: 5px;
        }
      }
    }
  }

  .imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;

    img {
      position: absolute;
      // background: linear-gradient(
      //   0deg,
      //   #ff0000 ,
      //   #760000 ,
      //   #540000 ,
      //   #000000 ,
      // );
      background: linear-gradient(0deg, #ff0000, #760000, #000000, #000000);
      background-size: 400% 400%;

      width: 100%;
      z-index: 1;
      padding-top: 320px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      transform: translateY(-1200px);
      animation: scaleImage 1s forwards, gradient 2s ease forwards;
      animation-delay: 1.6s;
    }
  }

  .showReelContainer {
    width: 100%;
    padding: 100px;
    text-align: center;
    transition: 1s;

    // &.show {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-color: black;
    //   z-index: 5;
    // }

    .showReel {
      opacity: 0;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0%);
      height: 1000px;
      width: 100vh;
      background-color: black;
      z-index: 1;
      transition: 0.3s;

      &.show {
        opacity: 1;
        transform: translate(-50%, -50%) scale(100%);
      }

      i {
        position: absolute;
        font-size: 50px;
        transform: rotate(45deg);
        right: 25px;
        top: 25px;
        cursor: crosshair;
      }

      h2 {
        padding-top: 60px;
        text-transform: uppercase;
        font-size: 50px;
      }

      iframe {
        display: none;
        transition: 1s;
        &.show {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: block;
        }
      }
    }

    button {
      position: relative;
      padding: 25px 50px;
      font-size: 100px;
      border-radius: 30px;
      background-image: url("../../../../public/images/Counter-Strike-Clobal-Offensive-CS-GO-wymagania-sprzętowe.jpg");
      background-position: center;
      background-size: cover;
      text-transform: uppercase;
      color: white;
      z-index: 1;
      transition: 0.3s;
      opacity: 1;

      &.show {
        opacity: 0;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 30px;
        border: none;
        z-index: -1;
        background-color: rgba($color: black, $alpha: 0.95);
      }
    }
  }
}

.scrollContainer {
  position: fixed;
  display: flex;
  bottom: 25px;
  left: 50%;
  justify-content: center;
  align-items: center;
  color: $colorText;
  opacity: 0;
  animation: shoveUp 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  overflow: hidden;
  h3 {
    font-size: 20px;
    margin: 0;
  }

  img {
    width: 50px;
  }

  i {
    animation: bounce 1s ease-in-out infinite;
  }

  &.hideScroll {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      forwards;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
}

@media (max-width: 1920px) {
  .headerContainer {
    margin-bottom: 320px;
    .showReel {
      .iframeContainer {
        transform: scale(70%);
      }
    }

    .box {
      height: fit-content;
      margin-bottom: 55px;

      .title {
        height: 105px;
        h1 {
          font-size: 105px;
        }
      }
      .role {
        .content {
          i {
            font-size: 125px;
          }

          span {
            p {
              font-size: 20px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .imageContainer {
      position: relative;

      img {
        top: -80px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .headerContainer {
    margin-bottom: 300px;
    .showReel {
      .iframeContainer {
        transform: scale(80%);

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }
    }

    .box {
      margin-bottom: -10px;
      height: fit-content;

      .title {
        height: 105px;
        h1 {
          font-size: 105px;
        }
      }
      .role {
        .content {
          i {
            font-size: 125px;
          }

          span {
            p {
              font-size: 20px;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .imageContainer {
      position: relative;

      img {
        top: -80px;
      }
    }
  }
}

@media (max-width: 991px) {
  .headerContainer {
    .box {
      margin-bottom: 100px;

      h1 {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 767px) {
  .headerContainer {
    align-content: flex-start;
    height: calc(100vh - 100px);
    margin-bottom: 0;
    .box {
      height: 30%;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
      .title {
        height: 80px;
        .block {
          position: absolute;
          width: 0%;
          height: inherit;
          background-color: $redLight;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        }

        h1 {
          text-align: center;
          font-family: "poppins";
          color: #fff;
          font-size: 46px;
          animation: mainFadeIn 2s forwards;
          text-transform: uppercase;
          animation-delay: 1.6s;
          opacity: 0;
          margin: 0;

          &::after,
          ::before {
            content: attr(data-text);
            position: absolute;
            width: 108%;
            z-index: -1;
          }
        }
      }
      .role {
        height: 33px;

        .content {
          font-size: 18px;
        }
      }
    }

    .imageContainer {
      position: absolute;
      background-image: url("../../../../public/images/filqImage2.png");
      background-position-x: center;
      background-position-y: bottom;
      background-size: 90%;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      bottom: 0;
      width: 100%;
      height: 80%;
      animation: fadeIn 1s forwards;
      animation-delay: 1.6s;

      img {
        display: none;
      }

      &::after {
        content: none;
      }
    }

    .showReel {
      position: relative;
      width: 100vw;
      transform: scale(0.5);
      opacity: 0;
      -webkit-animation: scale-up-center 0.4s ease-out 0.5s forwards;
      animation: scale-up-center 0.4s ease-out 0.5s forwards;
      h2 {
        font-size: 50px;
        // margin-bottom: 50px;
        text-align: center;
        height: 75px;

        span {
          text-transform: uppercase;
          color: $redLight;
        }
      }

      .iframeContainer {
        position: relative;
        width: calc(100vw - 5px);
        transform: scale(100%);
        padding-bottom: 56.25%;
        height: 0;

        & iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .scrollContainer {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    left: -5px;
    bottom: 100px;
    color: $colorText;
    margin-top: 0;
    opacity: 0;
    height: 150px;
    // z-index: 2;

    img {
      display: none;
      height: 50px;
    }
    h3 {
      writing-mode: vertical-rl;
      font-size: 18px;
      text-orientation: mixed;
    }

    i {
      height: 20px;
      animation: bounce 1s ease-in-out infinite;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    top: -500px;
    left: 0;
  }
  30% {
    width: 1%;
    top: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    top: -500px;
    right: 0;
  }
  30% {
    width: 1%;
    top: 0;
    right: 0;
  }
  50% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes scaleImage {
  0% {
    transform: translateY(-1200px);
  }
  100% {
    transform: translateY(-400px);
  }
}

@keyframes shoveUp {
  0% {
    opacity: 0;
    transform: translateY(30px) translateX(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px) translateX(-50%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px) translateX(-50%);
    transform: translateY(50px) translateX(-50%);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 80%;
  }

  100% {
    background-position: 0% 60%;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}
