@import "../../../styles/settings.scss";

.Navigation {
  background-color: rgba($color: black, $alpha: 0.8);
  padding: 15px;

  .brandContainer {
    color: red;

    .logo {
      width: 50px;
      transition: 0.3s;
    }

    &:hover {
      .logo {
        transform: scale(110%);
      }
    }
  }
  .controlLinks {
    display: flex;
    margin-left: 25px;

    .link {
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: $colorText;
    font-size: 20px;
    margin-right: 25px;
    padding: 5px 0px;
    text-transform: uppercase;

    i {
      background-color: $redDarker;
      color: white;
      padding: 12px;
      border-radius: 50%;
      transition: 0.2s;

      &:hover {
        transform: scale(110%);
        background-color: $redLight;
        color: $colorText;
      }
    }

    &:focus {
      color: white;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      height: 5px;
      width: 0%;
      border-radius: 5px;
      background-color: $thirdColor;
      transition: 0.4s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media (max-width: 376px) {
  .Navigation {
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .Navigation {
    background-color: rgba($color: black, $alpha: 0.98);
    .controlLinks {
      display: flex;
      justify-content: center;
      margin: 0;
      gap: 15px;
    }
    .link {
      font-size: 20px;
      margin-right: 25px;
      padding: 15px 0px;
      margin-right: 0;
      text-transform: uppercase;

      &:focus {
        color: white;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      &:hover::after {
        width: 0;
      }
    }
  }
}
